<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [chart]="charts.chart1"></app-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [chart]="charts.chart2"></app-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [chart]="charts.chart3"></app-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [chart]="charts.chart4"></app-chart>
      </div>
    </div>
  </div>
</div>
